@font-face {
	font-family: Raleway;
	src: url('../fonts/Raleway-Regular.ttf');
}
@font-face {
	font-family: Montserrat;
	src: url('../fonts/Montserrat-Regular.ttf');
}
body {
	position: relative;
	left: 0;
	overflow-x: hidden;
	height: 100%;
	color: #363e51;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}
h2 {
	margin-top: 45px;
	margin-bottom: 35px;
	color: #313F52;
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
	font-weight: 300;
}
p {
	margin-top: 15px;
	margin-bottom: 15px;
	font-family: 'Roboto';
	font-size: 20px;
	font-weight: 300;
	line-height: 30px;
}
.image-bg {
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/*--------------------Header------------------------*/
.header {
	top: 0;
	overflow: hidden;
}
.header-home {
	position: fixed;
	overflow: hidden;
	width: 100%;
	height: 100%;
	transition: all 0.3s;
}
.header-bg-video {
	min-width: 100%;
	min-height: 100%;
}
.header-content {
	position: absolute;
	z-index: 2;
	bottom: 0px;
	text-align: center;
}
.header-content--bg {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
}
.header-navbar-home {
	padding: 10px 25px;
	border: none;
	background-color: transparent;
}
nav ul {
	padding: 20px 0px;
}
nav li a {
	padding: 0px 20px;
	transition: 0.4s;
	color: #F0F0F0!important;
	font-family: 'Montserrat';
	font-size: 16px;
	font-weight: 300;
	line-height: 70px;
}
.mark {
	border: 1px solid #1d89e4;
	border-radius: 5px;
	background-color: #1d89e4;
}
.mark:hover {
	background-color: transparent;
}
.header-body {
	margin: 12% 5% 0 5%;
}
.header-body-title {
	float: left;
	width: 100%;
	margin-bottom: 30px;
	text-align: center;
	color: #DDDFE5;
	font-size: 59px;
	font-weight: 100;
	line-height: 73px;
}
.header-body-content {
	margin-bottom: 40px;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 300;
	line-height: 30px;
}
.header-body-btn-container {
	padding: 2% 5%;
}
.header-body-btn-start {
	visibility: hidden;
	padding: 2% 6%;
	transition: .1s;
	color: #FFFFFF;
	border: 3px solid #1d89e4;
	background-color: #1d89e4;
	font: 22px 'Roboto', sans-serif;
	font-weight: 300;
}
.header-body-btn-start:hover {
	transition: 0.5s;
	color: #1d89e4;
	background-color: transparent;
}
.header-body-sub-title {
	visibility: hidden;
	color: #FFFFFF;
	font: 13px 'Roboto', sans-serif;
	font-weight: 200;
	line-height: 20px;
}
.header-body-arrow-down {
	cursor: pointer;
}
.header-body-arrow-down a {
	color: #FFFFFF;
	font-size: 64px;
}
.trans-div {
	height: calc(100% - 76px);
}

/*--------------------Section All------------------------*/
.section {
	position: relative;
	width: 100%;
	text-align: center;
	background-color: white;
}
.section-container {
	margin-top: 625px;
}

/*--------------------Menu Bar Hidden------------------------*/
.menu-bar {
	display: none;
	background-color: #1c212b;
}
.menu-bar ul li a:hover {
	color: #FFFFFF!important;
	background-color: #125b98!important;
}
.onposition a {
	color: #FFFFFF;
	background-color: #125b98!important;
}
.fix-logo {
	padding: 0 15px;
}
.fixed-menu {
	position: fixed;
	z-index: 1;
	top: 0px;
	width: 100%;
	margin: 0;
}

/*--------------------Section Tourism------------------------*/
.section-tourism-banner {
	padding: 10px;
	color: #FFFFFF;
	background-color: #125b98;
}

/*--------------------Section Info------------------------*/
.section-info {
	margin: 30px 0;
}
.section-info-container {
	padding: 15px;
}
.section-info-title {
	text-align: left;
	color: #313F52;
	font-size: 20px;
	font-weight: normal;
	line-height: 30px;
}
.section-info-paragraph {
	text-align: justify;
	color: #1F1F1F;
	font-size: 15px;
	font-weight: 300;
	line-height: 35px;
}

/*--------------------Section Culture------------------------*/
.section-culture {
	margin: 20px 0;
}
.section-culture-bg {
	height: 700px;
	background-image: url('../img/bg-section.jpg');
}
.section-paragraph {
	position: relative;
	top: 150px;
}
.section-paragraph strong {
	color: #EB443C;
}
.section-paragraph h3 {
	width: 35%;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 10px;
	text-align: left;
	color: #F0F0F0;
	border-left: 6px solid #EB443C;
	background-color: rgba(0, 0, 0, 0.5);
	font: 40px 'Roboto', sans-serif;
	font-weight: normal;
	font-weight: 200;
}
.section-paragraph .span {
	width: 50%;
	padding-bottom: 7px;
}
.section-culture-title {
	position: relative;
	margin-top: 30px;
	margin-bottom: 45px;
	text-align: left;
	color: #ABABAB;
	font: 52px 'Roboto', sans-serif;
	font-weight: normal;
	font-weight: 300;
}
.section-culture-title span {
	color: #313F52;
	font-weight: 300;
}
.section-culture-item{
	padding: 15px 0;
	margin: 0;
}
.section-culture-text {
	height: 100%!important;
	padding: 15px 20px;
	margin: 30px 0 0 0;
	text-align: justify;
	border-left: 2px solid #2281bf;
	border-radius: 5px;
	background-color: #fbfbfb;
}
.section-culture-text-right {
	border: none;
	border-right: 2px solid #2281bf;
}


/*--------------------Section Culinary------------------------*/
.section-culinary-bg {
	height: 700px;
	background-image: url('../img/bg-culinare.jpg');
}
.section-culinary-container {
	text-align: left;
}
.section-culinary-tagline {
	display: inline-block;
	margin-bottom: 10px;
	padding: 15px;
	border-right: 2px solid #e9ebee;
}
.section-culinary-tagline span {
	color: #eb2218;
}
.section-culinary-tagline2 {
	margin: 30px;
	font-style: italic;
	color: #363e51;
}
.section-culinary-label {
	padding: 5px;
	color: #FFFFFF;
	background-color: #eb2218;
}
.section-culinary--bg1 {
	height: 510px;
	padding-top: 10%;
	background-image: url('../img/makanan2.jpg');
}
.section-culinary--bg2 {
	height: 250px;
	margin-bottom: 10px;
	padding-top: 10%;
	background-image: url('../img/makanan1.jpg');
}
.section-culinary--bg3 {
	height: 250px;
	padding-top: 10%;
	background-image: url('../img/makanan3.jpg');
}
.section-culinary--bg4 {
	height: 250px;
	padding-top: 10%;
	background-image: url('../img/makanan4.jpg');
}

/*--------------------Section People------------------------*/
.section-people {
	margin: 30px 0;
}
.section-people-bg {
	height: 700px;
	background-image: url('../img/bg-tribes.jpg');
}
.section-people-container {
	margin-bottom: 40px;
	text-align: left;
}
.section-people-quotes {
	padding: 20px 0;
	color: #FFFFFF;
	background-color: #22a5ab;
}
.section-people-title {
	margin: 50px 0;
	text-align: center;
}
.section-people-item-title {
	margin-bottom: 15px;
	text-transform: uppercase;
	color: #313F52;
	font-size: 20px;
}
.section-people-container p {
	font-size: 17px;
	font-weight: 300;
	line-height: 28px;
}
.section-people-word h3 {
	padding: 20px 0;
	text-align: center;
	font-family: 'Raleway';
}

/*--------------------Section Promotion------------------------*/
.section-promotion {
	padding: 35px 0;
	background-color: #f5f4f4;
}
.section-promotion h3 {
	margin-bottom: 20px;
	font-family: 'Raleway';
}
.section-promotion button {
	margin-top: 10px;
	padding: 10px 50px;
	background-color: #125b98;
}

/*--------------------Footer------------------------*/
.footer-container {
	padding: 20px 10px;
	text-align: justify;
	color: #FFFFFF;
	background-color: #363e51;
	font-weight: 300;
}
.footer-support img {
	display: inline;
}
.footer-copyright {
	background-color: #252b38;
}
.footer-copyright p {
	text-align: left;
	font-size: 14px;
	font-weight: 300;
}
footer p {
	color: #FFFFFF;
	font-size: 18px;
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1920px) {
	.header-body{
		margin: 5% 0;
	}
}
@media only screen and (min-width: 1600px) and (max-width:1919px) {
	.header-body{
		margin: 7% 0;
	}
}

/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
	h2 {
		font-size: 25px;
	}
	p {
		font-size: 16px;
	}
	.header-body-title {
		font-size: 40px;
	}
	.header-body-content {
		margin-bottom: 15px;
		font-size: 14px;
	}
	.header-body-btn-start {
		font-size: 15px;
	}
	.header-body-sub-title {
		font-size: 10px;
	}
	.header-body-arrow-down a {
		font-size: 30px;
	}
	.section-culture-title {
		font-size: 35px;
	}
	.section-container {
		margin-top: 500px!important;
	}
	.section-paragraph .span {
		width: 55%;
	}
	.section-paragraph h3 {
		width: 40%;
	}
	.section-culinary--bg1 {
		height: 410px;
	}
	.section-culinary--bg3 {
		height: 150px;
		padding-top: 20%;
	}
	.section-culinary--bg4 {
		height: 150px;
		padding-top: 20%;
	}
}

/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
	h2 {
		font-size: 25px;
	}
	p {
		font-size: 16px;
	}
	.header-home {
		background-image: url('../img/bg-section.jpg');
		background-repeat: no-repeat;
		background-position: center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	.header-bg-video {
		display: none;
	}
	.header-body {
		margin-top: 90px;
	}
	.header-body-title {
		margin-bottom: 20px;
		margin-left: 0px;
		font-size: 34px;
		line-height: 44px;
	}
	.header-body-content {
		font-size: 14px;
	}
	.header-body-sub-title {
		display: none;
	}
	.header-body-arrow-down a {
		font-size: 30px;
	}
	.header-body-content {
		margin-bottom: 20px;
	}
	.header-body-btn-start {
		font-size: 16px;
	}
	.navbar-brand {
		margin: 0;
		padding: 0;
	}
	.navbar-brand img {
		max-width: 60px;
		max-height: 60px;
	}
	.navbar-default .navbar-collapse {
		border: none;
		background-color: rgba(0, 0, 0, 0.9);
	}
	.mark {
		border: none;
		background: none;
	}
	nav ul li:hover {
		background-color: #1c212b;
	}
	.menu-bar {
		padding: 5px;
		background-color: rgba(0, 0, 0, 0.8);
	}
	.menu-bar .navbar-toggle .icon-bar {
		background-color: #FFFFFF;
	}
	.menu-bar .navbar-toggle {
		color: #FFFFFF;
		border-color: #FFFFFF;
	}
	.navbar-collapse {
		border: none;
	}
	.menu-bar ul li a {
		color: #FFFFFF;
	}
	.menu-bar .navbar-right {
		background-color: background-color: rgba(0, 0, 0, 0.8);
	}
	.section-info-title {
		text-align: center;
	}
	.section-paragraph {
		top: 100px;
	}
	.section-paragraph h3 {
		width: 60%;
		padding: 5px;
		font-size: 15px;
	}
	.section-paragraph .span {
		width: 80%;
	}
	.section-culture-bg {
		height: 400px;
	}
	.section-culture-title {
		font-size: 27px;
	}
	.section-culinary-bg {
		height: 400px;
	}
	.section-culinary-container {
		text-align: center;
	}
	.section-culinary-tagline2 {
		display: block;
		margin: 15px 0;
		padding: 5px;
		;
	}
	.section-culinary-tagline {
		border: none;
	}
	.section-culinary--bg1 {
		height: 200px;
		margin: 10px 15px;
		text-align: left;
	}
	.section-culinary--bg2 {
		height: 200px;
		margin-top: 10px;
		text-align: left;
	}
	.section-culinary--bg3 {
		height: 200px;
		margin-top: 10px;
		text-align: left;
	}
	.section-culinary--bg4 {
		height: 200px;
		margin-top: 10px;
		text-align: left;
	}
	.section-people-bg {
		height: 400px;
	}
	.section-people-item-title {
		text-align: center;
	}
	.section-people-container img {
		margin: 0 auto;
	}
	.footer-container img {
		display: block;
		max-width: 100%;
		height: auto;
		margin: 0 auto;
	}
	.footer-container h3 {
		margin-top: 30px;
		text-align: center;
	}
	.footer-copyright p {
		text-align: center;
	}
}


/*PAGE INTRO*/
.navbar-fixed-left {
	background-color: #ca0016;
overflow: hidden;
position: fixed;
top: 0;
bottom: 0;
left: 0;
width: 140px;
z-index: 10;
}

.navbar-nav {
	padding-top: 50px;
}

.wrapper{
	margin-left: 140px;
}

.intro-content{
	position: absolute;
	top: 0;
	left: 0;
	width: 2670px;
	height: 3532px;
	z-index: 1;
	background-color: #f0f0f0;
}
.intro-content-item{
	position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
}
#surabaya{
	top: 125px;
	left: 170px;
	width: 460px;
}

#bandung{
	top: 300px;
	left: 1120px;
	width: 460px;
}
